.container-features {
  min-height: 307px;
  padding-top: 55px; }
  .container-features .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .container-features__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    position: relative; }
    .container-features__item a {
      height: 129px;
      width: 129px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: 5px solid #ffd200;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 25px;
      -webkit-transition-duration: 1s;
           -o-transition-duration: 1s;
              transition-duration: 1s;
      position: relative;
      background: white;
      z-index: 3;
      /*&:first-child {
                background:red;
                &:after {
                content:"";
                  width:135px;
                  height:5px;
                  position:absolute;
                  background:none;
                  border:1px solid red;
                }
                }*/ }
      .container-features__item a:after {
        content: "";
        width: 135px;
        height: 5px;
        position: absolute;
        background: url(../img/steps.png) no-repeat;
        right: -147px;
        z-index: 1; }
      .container-features__item a:hover {
        border: 5px solid #ff1a27;
        -webkit-box-shadow: 1px 1px 1px 3px #ff1a27;
                box-shadow: 1px 1px 1px 3px #ff1a27; }
    .container-features__item span {
      width: 68%;
      font-size: 24px; }
    .container-features__item--last a:after {
      content: "";
      width: 135px;
      height: 5px;
      position: absolute;
      background: white;
      right: -147px;
      z-index: 10; }
